@import url("globals.css");

.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-image: url('./logo.svg');
  background-color: var(--primary);
  background-repeat: repeat-x;
  color: var(--secondary);
  height: 212px;
}

.App-title {
  margin: 0;
  padding: 24px;
  font-size: 64px;
}

.App-intro {
  font-size: 36px;
}