@import url("globals.css");

.App {
  text-align: center;
}

.App-header {
  padding: 18px;
  text-align: center;
  color: var(--secondary);
  background-image: url('./logo.svg');
  background-color: var(--primary);
  background-repeat: repeat-x;
}

.App-title {
  margin: 0;
  font-size: 64px;
}

.App-intro {
  padding: 0 15%;
  font-size: 32px;
}